@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", serif;
  background-color: #f1f1f1;
  font-size: 16px;
  letter-spacing: 0.8px;
  width: 100vw;
  overflow-x: hidden;
  
}
a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
li {
  list-style: none;
}
.container {
  padding-left: 4rem;
  padding-right: 4rem;
}
.flex-center{
  display: flex;
  align-items: center;
}
.icon{
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}
header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 4rem;
  position: relative;
}
.header .logo img{
  width: 60px;
}
.header .logo a {
  color: #a5420c;
  display: flex;
  align-items: center;
}
.header .logo p{
  font-size: 24px;
  font-weight: 600;
  margin-left: 1rem;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin-right: 0;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 4px;
}
nav ul li:hover {
  font-weight: 600;
  background: #cdcdcd76;
  transition: all 0.5s ease;

}
.login-btn, .logout-btn {
  background: #1072cd;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #fff;
}
.login-btn a{
  color: #fff;
  letter-spacing: 1px;
}
.login-btn:hover, .logout-btn:hover {
  background: #0d5f9b;
  transition: all 0s ease;
}
.logout-btn{
  cursor: pointer;
  /* display: none; */
}
/* success page style  */
.btn-link a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}
.hamburge-icon {
  width: 30px;
  height: 30px;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 15px;
}

/* -------- Mobile Responsive -------- */

@media screen and (max-width: 600px) {
  .container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .login-btn, .logout-btn {
    width: 40%;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
  }
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 270px;
    padding: 10px;
    height: 98vh;
    margin-top: 4.5rem;
    z-index: 99;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .nav-links li:last-child {
    margin-bottom: 0;
  }
}

/* ---------- Big screen Responsive ---------- */
@media screen and (min-width: 1800px) {
  .container {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}